body {
  padding: 2em;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 5em;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-section p {
  text-transform: uppercase;
  margin-bottom: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 700;
}

.title-app {
  margin: 0px;
  font-size: smaller;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.content table {
  width: 100%;
}

.content td,
.content th {
  border: 1px solid #ddd;
  padding: 8px;
}

.content tr:nth-child(even) {
  background-color: #f2f2f2;
}

.content tr:hover {
  background-color: #ddd;
}

.content th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

@media print {
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
  @page {
    size: A3 landscape;
  }
}

.ttd-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 32px;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.ttd-section .name-section {
  margin-top: 5rem;
}
